.carousel {
  max-width: 100%;
  height: 60vh;
  position: relative;
  display: flex;
  justify-content: center;
  background-size: cover;
  background-image: url(/imgs/background/fundo_dark.png);
  background-color: var(--turquesa);
  background-blend-mode: multiply;
}

.carousel-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.carousel-container {
  width: 100%;
  max-width: 1200px;
  overflow: hidden;
}

.carousel-track {
  display: flex;
  animation: slideAnimation 20s infinite;
}

.slide {
  min-width: 80%;
}

.slide img {
  width: 100%;
  height: 50vh;
  object-fit: cover;
  cursor: pointer;
}

@keyframes slideAnimation {
  0% {
    transform: translateX(-70%);
  }
  20% {
    transform: translateX(-70%);
  }
  25% {
    transform: translateX(-150%);
  }
  45% {
    transform: translateX(-150%);
  }
  50% {
    transform: translateX(-230%);
  }
  70% {
    transform: translateX(-230%);
  }
  75% {
    transform: translateX(-310%);
  }
  95% {
    transform: translateX(-310%);
  }
  100% {
    transform: translateX(-390%);
  }
  100% {
    transform: translateX();
  }
}

.prev,
.next {
  background: transparent;
  border: none;
  color: var(--branco);
  font-size: 25px;
  cursor: pointer;
  transition: all 0.5s ease;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 10;
  opacity: 0.6;
}

.prev {
  left: 20px;
}

.next {
  right: 20px;
}

@media (max-width: 768px) {
  .carousel {
    height: auto;
    padding: 20px 0;
  }

  .slide img {
    height: 35vh;
    border-radius: 10px;
  }
}